.selected
	padding 15px
	&__colors
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		flex-wrap wrap
		&--hidden
			display none
		&--fixed
			position fixed
			right 0
			width 6rem
			padding .5rem
			bottom 0
			top 0
			height 55rem
			margin-top auto
			margin-bottom auto
			background-color #fff
			box-shadow 0 0 1.5rem rgba(0,0,0,.2)
			.selected
				&__color
					width 3.5rem
					height 3.5rem
					margin .5rem
					.fa
						padding .7rem
						font-size 1.7rem
	&__color
		display inline-block
		width 5rem
		height 5rem
		text-align center
		border-radius 50%
		background-color rgb(245, 245, 245)
		text-align center
		transition all .4s
		margin 1rem
		.fa 
			border-radius 50%
			padding 1.5rem
			opacity 0
			font-size 2rem
		&--active
			&:hover
				cursor pointer
				.fa
					opacity 1
		
			