.menu
	&__item
		display inline-block
		& + &
			margin-left 5px
	&__link
		display block
		padding 10px
		color #e91e63
		text-decoration none
		border-radius 5px
		&:hover
			background-color #eee
		&_active
			color #fff
			background-color #e91e63
			&:hover
				background-color #e91e63